# Ignorar directorios generados por herramientas de desarrollo
/node_modules
/dist
/.cache
/.vscode
/.idea
node_modules/
tmp/*
!tmp/.gitkeep

# Ignorar archivos y directorios generados durante la ejecución
npm-debug.log
yarn-error.log
.DS_Store                                    

# Ignorar archivos de dependencias de desarrollo
# (puedes ajustar esto dependiendo de tus necesidades)
/package-lock.json
/yarn.lock 

.env
