<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>burgers</title>
</head>
<body>
    <main>
        <div class="container superior">
                <div class="superior-container superior-header"> 
                    <img src="../img/logo.svg" alt="logo_empresa">    

                </div>
                <div class="superior-container superior-banner">
                        <div class="superior-banner-inner">
                            <div>20% OFF EN</div>
                            <div>TAKE AWAY</div>
                            <div class="superior-banner-inner-texto"
							>TODOS LOS MEDIOS DE PAGO</div>
                        </div>
                </div>
        </div>
        <div class="container inferior">
            <div class="sub-container inferior-texto">
                <div class="inferior-texto-inner">
                    <h2>CONOCÉ NUESTRO MENÚ</h2>
                    <h3>WE MAKE BURGERS</h3>
                    <p>Nuetras burgers están hechas con carne 100% Angus, con pan casero que horneamos todos los días y una selección de ingredientes que las hacen únicas. Incluyen papas o una ensaladita de mix de hojas verdes.</p>
                    <p><a href="/products">Ver la carta</a></p>
                </div>
            </div>
        <div class="sub-container inferior-image"></div>
        </div>
    </main>
</body>
</html>

