<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav>
  <ul>
    <li><a href="/products">Productos</a></li>
  </ul>
</nav>


<main>
 <h1>{{tittle}}</h1>
  {{body}}
</main>

<footer>
  <img src="/img/logo-1652391784434.webp" alt="Logo de la empresa">
</footer>
</body>
</html>