<form action="/products/{{ product._id }}" method="post">
  <input type="hidden" name="_method" value="post">
  
  <label for="producto">Nombre:</label>
  <input type="text" id="producto" name="product[producto]" required>
  
  <label for="precio_unitario">Precio:</label>
  <input type="number" id="precio_unitario" name="product[precio_unitario]" required>
  
  <button type="submit">Actualizar producto</button>
</form>