<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/nuevoProducto.css">
  <title>products</title>
</head>
<body>
  <div class="nuevo-producto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/products/new">Crea tu propia Hamburguesa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {{#each product}}
            <li class="nav-item">
              <a class="nav-link" href="/products/{{_id}}">{{producto}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>
