<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>productos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/productos.css">
<body>

<div class="productos">
<form action="/products" method="post">
  <label for="producto">Nombre:</label>
  <input type="text" id="producto" name="product[producto]" required>

  <label for="precio_unitario">Precio:</label>
  <input type="number" id="precio_unitario" name="product[precio_unitario]" required>

  <button type="submit">Crear producto</button>
</form>
</div>


</body>
</html>

