<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/muestraProductos.css">
  <title>PRODUCTO</title>
</head>
<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ product.producto }}</h2>
        <p class="card-text">{{ product.precio_unitario }}</p>

        <a href="/products/{{ product._id }}/edit" class="btn btn-primary">Editar</a>

        <form action="/products/{{ product._id }}/delete" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>

        <a href="/products" class="btn btn-secondary mt-3">Volver al listado de productos</a>
      </div>
    </div>
  </div>
</body>
</html>




